.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.movie {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}

.poster {
    width: 20%;
    border-radius: 5px;
}